dist
node_modules

.pnpm-store

build

**/.terraform/*
**/.terraform/*/*
**/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
tfplan
tfplan_bootstrap
terraform.tfstate

*.tfvars
*.tfvars.json
tfplan
crash.log

*.zip

layer_content
out.json